body, h1, ul, li {
    margin: 0;
    padding: 0;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 45%;

}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: blueviolet;
    border: 2px solid black; 


}

.header h1 {
    color: #333;
}

.middle-content {
    text-align: center;
}

.box {
    width: 200px;
    border: 2px solid #333;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    text-decoration: none; 
    color: #333; 
    display: block; 
}

.box:hover {
    background-color: #ddd;
}


